/*
  Theme and global variables
*/

html {
  overflow-y: scroll;

  --game-spacing: 32px;
  --header-height: 4rem;

  --color-success: hsl(150deg 70% 30%);
  --color-warning: hsl(50deg 100% 30%);
  --color-error: hsl(0deg 70% 45%);
  --color-gray-100: hsl(0deg 0% 10%);
  --color-gray-300: hsl(0deg 0% 25%);
  --color-gray-500: hsl(0deg 0% 50%);
  --color-gray-700: hsl(0deg 0% 75%);
  --color-gray-900: hsl(0deg 0% 90%);
}

/*
    Custom styles
  */
body {
  font-family: sans-serif;
}

@media (max-height: 600px) {
  body {
    --game-spacing: 8px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

header {
  display: flex;
  height: var(--header-height);
  border-bottom: 1px solid var(--color-gray-700);
  color: var(--color-gray-300);
}

header .side {
  width: var(--header-height);
  display: grid;
  place-content: center;
}

h1 {
  flex: 1;
  font-size: 2rem;
  line-height: var(--header-height);
  text-align: center;
}

@media (max-width: 25rem) {
  h1 {
    font-size: 1.25rem;
  }
}

.game-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--game-spacing);
  padding-top: 16px;
  padding-bottom: var(--game-spacing);
  padding-left: var(--game-spacing);
  padding-right: var(--game-spacing);
  margin: 0 auto;
  min-width: max(300px, 55vh, 40%);
  max-width: min(500px, 58vh, 100%);
}

.banner {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 32px;
  text-align: center;
  animation: slideUp 750ms cubic-bezier(0, 0.72, 0.24, 1.02);
  border-radius: 4px 4px 0px 0px;
  will-change: transform;
}

.happy.banner {
  background: var(--color-success);
  color: white;
}
.sad.banner {
  background: var(--color-error);
  color: white;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/* Dropdown Styles */

.dropdown-label {
  display: block;
  color: var(--color-gray-300);
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-family: sans-serif;
}

.dropdown {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: sans-serif;
  background-color: white;
  border: 1px solid var(--color-gray-500);
  border-radius: 0.25rem;
  color: var(--color-gray-900);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease-in-out;
}

.dropdown:focus {
  outline: none;
  border-color: var(--color-primary);
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5); /* Adjust color if necessary */
}

@media (max-width: 600px) {
  .dropdown-label {
    font-size: 0.9rem;
  }
  .dropdown {
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
  }
}


/*
    Keyframe animations
  */
@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
